
<style>
            body {
    background-color: #13141B;
}
::-webkit-scrollbar {
    display: none;
}
* {
    box-sizing: border-box;
}
h1 {
    color: #eee;
    margin-bottom: 30px;
}
.container {
    margin: 0 auto;
}


#coursesList{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.course{
    background-color: #282E3E;
    width: 48%;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: row-reverse;
    color: #fff;
}



.course-info{
    flex: 4;
    padding: 10px;
}

.course-info h2 {
    font-size: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: fit-content;
    overflow-y: hidden;
}

.course-info h5{
    margin-top: 20px;
}

.course-img{
    flex: 3;
    padding: 10px;
}

.course img{
    width: 100%;
    /* height: 100%; */
    border-radius: 6px;
}

#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper input{
    height: 46px;
    font-size: 16px;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 15px;
}

@media (max-width:550px){
    .course{
        flex-direction: column-reverse;
    }
}

.form-group label{
    color: #fff;
}

.form-control, .form-control:focus{
    background-color: #282E3E;
    color: #fff;
}
 </style>
    </head>
    <body>
        {{> header}}


            <div id="searchWrapper" class="mt-4">
            <input
                type="text"
                name="searchBar"
                id="searchBar"
                placeholder="Nhập tên công thức để tìm kiếm"
            />
        </div>
            <div class="mt-4">
                <form method="POST" action="/TN/store"> 
                    <div class="form-group">
                        <label for="name">Tên thí nghiệm</label>
                        <input type="text" name="name" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="class">Lớp</label>
                        <input type="text" name="class" class="form-control" id="class">
                    </div>
                    <div class="form-group">
                        <label for="imgUrl">Link ảnh</label>
                        <input type="text" name="imgUrl" class="form-control" id="imgUrl">
                    </div>
                    <div class="form-group">
                        <label for="videoUrl">Link video</label>
                        <input type="text" name="videoUrl" class="form-control" id="videoUrl">
                    </div>
                    

                    <button type="submit" class="btn btn-dark">Thêm</button>
                </form>
            </div>
            
            <ul id="coursesList">
            {{#each TNs}}
                <div name="{{this.name}}" age="{{this.class}}" imgUrl="{{this.imgUrl}}" videoUrl="{{this.videoUrl}}" id={{this._id}} class="input"></div>
            {{/each}}
            </ul>


        <form method="POST" class="delete-form"></form>
        
       
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
        <!-- <script src="custom.js"></script> -->
        <script>
                        
const coursesList = document.getElementById('coursesList');
const searchBar = document.getElementById('searchBar');
const courses = []
const input = document.querySelectorAll("div[name]")

input.forEach(course => {
    courses.push({
        id: course.getAttribute("id"),
        name: course.getAttribute("name"),
        class: course.getAttribute("age"),
        imgUrl: course.getAttribute("imgUrl"),
        videoUrl: course.getAttribute("videoUrl"),
    })
})
console.log(courses)

searchBar.addEventListener('keyup', (e) => {
    const searchString = e.target.value.toLowerCase();
    console.log(searchString)
    const filteredCourses = courses.filter((course) => {
        const indexSlap = course.name.indexOf("\\")
        const indexSpace = course.name.indexOf(' ', course.name.indexOf("\\"))
        return (
            (course.name.toLowerCase().slice(0, indexSlap) + course.name.toLowerCase().slice(indexSpace)).includes(searchString) ||
            course.class.toLowerCase().includes(searchString)
        );
    });


    
    displayCourses(filteredCourses);
    MathJax.typeset(); 
});

/*
<a href="${course.video}" class="course-img" target="_blank">
                    <img src="${course.image}" />   
                </a>
    <h5>${course.age}</h5>
*/

const displayCourses = (courses) => {
    const htmlString = courses
        .map((course) => {
            return `
            <li class="course">
                <button class="delete-btn" id="${course.id}">X</button>
                <div class="course-info">
                    <h2>${course.name}</h2>
                    <h5>Lớp: ${course.class}</h5>
                </div>
                <a href="${course.videoUrl}" class="course-img" target="_blank">
                    <img src="${course.imgUrl}" />   
                </a>
                
            </li>
        `;
        })
        .join('');
    coursesList.innerHTML = htmlString;
};
displayCourses(courses);

            
            
        </script>

        <script>
            const submitBtn = document.querySelector('.submit-btn')
            const deleteBtns = document.querySelectorAll('.delete-btn')
            const deleteForm = document.querySelector('.delete-form')
            console.log(deleteBtns)
            deleteBtns.forEach(btn => {
                btn.addEventListener('click', function(){
                    const TNid = btn.getAttribute("id")
                    deleteForm.action = `/TN/${TNid}/force?_method=DELETE `
                    deleteForm.submit()
            })
            })
            
        </script>
    </body>
</html>
